* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* background-color: #f1a10a; */
    scroll-behavior: smooth;
}

.date_section {
    padding-top: 20px;
    background-color: #f1a10a;
}

.date_container {
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* border: 1px solid red; */
}

.date_container>p {
    /* border: 1px solid red; */
    margin: auto;
    letter-spacing: 30px;
}


.section_1 {
    /* border: 1px solid red; */
    padding: 50px;
    background-color: #f1a10a;
}

.py-logo {
    /* border: 1px solid red; */
    margin-top: 0px;
    width: 55%;
    display: block;
    margin: auto;
}

.section_1_paragraph {
    width: 60%;
    font-size: 30px;
    margin: auto;
    margin-top: 30px;
    /* border: 1px solid red; */
    text-align: center;
}

.section_1_btn {
    padding: 15px 0px;
    width: 200px;
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    border-radius: 10px;
    background-color: black;
    color: #f1a10a;
}

.section_1_btn:hover {
    color: white;
    transition: .6s;
    width: 230px;
}

/* section 2 image  */

.section_2 {
    padding: 50px;
    background-color: #f1a10a;
}

.section_2_img_1 {
    width: 70%;
    display: block;
    margin: 40px auto;
}

/* section 3  */

.section_3 {
    padding: 100px;
    /* border: 1px solid red; */
    background-color: black;
    color: #f1a10a;
    text-align: center;
}

.s3_container {
    /* border: 1px solid red; */
    width: 55%;
    margin: auto;
}

.s3_heading {
    font-size: 70px;
    font-weight: bolder;
}

.s3_para {
    margin: auto;
    margin-top: 30px;
    /* border: 1px solid red; */
    max-width: 60%;
}

.btn_container {
    display: grid;
    max-width: 60vh;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
}

.s3_btn1 {
    padding: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
}

.s3_btn2 {
    padding: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
    background-color: #f1a10a;
    color: black;
    cursor: pointer;
}

.s3_btn1:hover,
.s3_btn2:hover {
    color: black;
    transition: .6s;
    padding: 10px 20px;
}

/* section 4 start  */

.section_4 {
    padding: 100px;
    /* background: linear-gradient(to top, #ffea00 0%,#f1a10a 100%); */
    background-color: #ffea00;
    text-align: center;
}

.s4_leaders {
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.s4_leaders>div {
    /* padding: 40px 10px; */
    /* border: 1px solid red; */
    border-radius: 20px;
    /* background-color: #e6d200; */
}

.s4_leaders>div:hover {
    transition: .6s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.team_pic {
    max-width: 40%;
    border-radius: 50%;
    background-color: #ffea00;
}

.s4_leader_name {
    margin-top: 30px;
}

.s4_leader_des {
    margin-top: 10px;
}

/* section 5 css  */

.section_5 {
    /* padding: 400px; */
    background-color: #e6d200;
}

.s5_heading {
    /* border: 1px solid red; */
    padding: 100px;
    width: 70%;
    margin: auto;
    text-align: center;
    font-size: 50px;
}

/* section 6  */

.section_6 {
    padding: 100px;
    background: linear-gradient(to top, #fff 0%, #ffea00 100%);
    text-align: center;
}

.s6_container {
    display: block;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.s6_heading {
    font-size: 48px;
    margin: auto;
    margin-bottom: 30px;
}

.s6_container>div {
    max-width: 80%;
}

.s6_para {
    margin-top: 30px;
    color: black;
}

.sec6_container {
    width: 90%;
    margin: auto;
}

/* section 7  */

.section_7 {
    padding: 100px;
}

.s7_heading {
    font-size: 20rem;
    line-height: 1em;
    text-align: center;
    /* border: 1px solid red; */
}

.s7_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 150px;
    margin: auto;
    margin-top: 40px;
    /* border: 1px solid; */
    background-color: #070707;
}

.s7_container>a{
    margin: auto;
}

/* section 8  */

#section_8 {
    padding-top: 120px;
    /* border: 1px solid red; */
    margin: auto;
}


svg {
    height: 35px;
    width: 35px;
    background-color: #070707;
    color: white;
}

svg:hover {
    transition: .6s;
    height: 35px;
    width: 35px;
    background-color: white;
    color: #f1a10a;
    padding: 5px;
    border-radius: 50%;
}

.section_9 {
    background-color: black;
    /* border: 1px solid red; */
    color: white;
    padding: 100px;
    padding-bottom: 20px;
}

.sec_9_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: auto;
}

.sec_9_container>div {
    font-weight: bold;
    text-align: center;
    /* border: 1px solid red; */
}

.sec_9_container>div>a {
    /* border: 1px solid red; */
    display: block;
    width: 85px;
    margin: 10px auto;
    padding: 10/px;
}

@media only screen and (min-width: 280px) and (max-width: 667px) {
    .date_section {
        padding: 15px 0px;
    }

    .date_container>p {
        letter-spacing: 5px;
    }

    .section_1 {
        /* border: 1px solid red; */
        padding: 10px 0px;
    }

    .py-logo {
        width: 90%;
    }

    .section_1_paragraph {
        width: 90%;
        font-size: 22px;
        margin: auto;
        margin-top: 30px;
        /* border: 1px solid red; */
        text-align: center;
    }

    .section_1_btn {
        padding: 10px 4px;
        font-size: 14px;
    }

    .section_3 {
        padding: 0px;
    }

    .s3_container {
        width: 90%;
        padding: 80px 0px;
    }

    .s3_heading {
        font-size: 35px;
    }

    .s3_para {
        margin: 30px auto;
        max-width: 100%;
    }

    .s3_btn1 {
        padding: 1px;
        font-size: 12px;
    }

    .s3_btn2 {
        padding: 10px 4px;
        font-size: 12px;
    }

    .section_4 {
        padding: 30px 0px;
    }

    .s4_leaders {
        grid-template-columns: repeat(1, 1fr);
    }

    .s4_leaders>div {
        /* padding: 40px 0px; */
        width: 80%;
        margin: auto;
    }

    .s5_heading {
        padding: 30px 0px;
        width: 90%;
        font-size: 30px;
    }

    .section_6 {
        padding: 30px 0px;
    }

    .s6_container {
        grid-template-columns: repeat(1, 1fr);
    }

    .s6_container>div {
        max-width: 100%;
    }

    .s6_para {
        font-size: 22px;
    }

    .section_7 {
        padding: 30px 0px;
    }

    .s7_heading {
        font-size: 8rem;
    }
}

/* laptop view media queries  */

@media only screen and (min-width: 668px) and (max-width: 768px) {

    .date_container>p {
        letter-spacing: 10px;
    }

    .py-logo {
        width: 90%;
    }

    .section_1_paragraph {
        width: 90%;
        font-size: 22px;
        margin: auto;
        margin-top: 30px;
        /* border: 1px solid red; */
        text-align: center;
    }

    .section_3 {
        padding: 0px;
    }

    .s3_container {
        width: 90%;
        padding: 80px 0px;
    }

    .s3_heading {
        font-size: 50px;
    }

    .s3_para {
        margin: 30px auto;
        max-width: 90%;
    }

    .section_4 {
        padding: 30px 0px;
    }

    .s4_leaders {
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
        gap: 0px;
    }

    .s4_leaders>div {
        /* padding: 40px 0px; */
        width: 80%;
        margin: auto;
    }

    .s5_heading {
        padding: 15% 0px;
        width: 90%;
        font-size: 40px;
    }

    .section_6 {
        padding: 30px 0px;
    }

    .s6_container {
        grid-template-columns: repeat(1, 1fr);
    }

    .s6_container>div {
        max-width: 100%;
    }

    .s6_para {
        font-size: 22px;
    }

    .section_7 {
        padding: 30px 0px;
    }

    .s7_heading {
        font-size: 10rem;
    }

}